@import 'bootstrap.min.css'
body{
  padding:0;


body{
 padding:0;
 margin:0;
 background-color: #452573;
 text-align: center;
}

.jumbotron {
 background-image:url( https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlY4NVbtbZ8voTueH2We9pKCIhmBC0hdJwdl36tSPWD-BYeZIi);
 height:400px;
 background-position: center;
 }
 h1{
   color: #FFF;
   font-family: 'Ruda', sans-serif;
   font-size:70px;
   font-weight: 900;
   margin:0;
   padding-top:120px;
   text-align: center;

 }
