<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset = "utf-8">
  <meta name="description" content="BucketList WebApp">
  <!--Defines description of the webpage-->
  <meta name="author" content="Florence Mnyazi">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name = "viewport" content="width=device-width, initial-scale=1">
  <!--This element ensures proper rendering and zooming-->
  <!-- The width=device-width sets the width of the page to follow screen width-->
  <!--The initial-scale =1 element sets the initial zoom level when the page is first loaded by the browser-->
  <title> BucketList </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}"/>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet"/>
</head>
<body>

  <div class ="container narrow">

      <h2> What do you want to do before you expire?</h2>

      <p> Dreamt of going bungee jumping; Want to go on a hot air baloon ride in the Mara; Or do you simply want to go camping under the stars? Create you ultimate bucketlist by adding items below and when you want to accomplish </p>
      <form name ="bucketlist" method="post" action="/bucketlist">
  <fieldset>
    <div class="jumbotron">
    <legend>My BucketList:</legend>
    BucketList Name:<br>
    <input type="text" name="BucketList Name" value=""><br>
    Add BucketList Item:<br>
    <input type="text" name="BucketList Item" value=""><br><br>
    <input type="submit" value="Submit">
      <legend>My BucketList: </legend>
          BucketList Name:<br>
          <input type = "text" name="BucketList Name" value =""><br>
          Delete BucketList Item:<br>
        <input type = "text" name="BucketList Item" value=""><br><br>
        <input type = "Submit" value="Submit">
      </fieldset>
    </form>
  </div>


<!--End jumbotron-->
</body>
<!-- Footer-->

<div class="container footer">
        <div class="row marketing">
            <div class="col-lg-6">
                <p> Bucketlist, 2017</p>

        </div>
        <div class="col-lg-6">
                <div class="pull-right">
              <p><strong>Email:</strong>florencemnyazi@gmail.com</p>
                     </div>
        </div>

    </div>

</div>

<!-- End Footer -->
    
</body>
</html>
