{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="card card-container">
        <div class="row">
            <h2 class="form-signin-heading">Edit bucketlist: {{bucket_id}}</h2>
            <div class="pull-right">
                <a href="/mybucketlist" class="btn btn-default">Back</a>
            </div>
        </div>
    </div>
    <form class="form-signin" action="/edit_bucketlist/<bucket_id>" method="POST">
        <div class="form-group">
            <label for="bucketlist" class="sr-only">Bucketlist</label>
            <input type="text" id="bucketlist" name="bucketlist" class="form-control" value="{{ bucket_name }}" placeholder="Bucketlist" required autofocus>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Edit </button>
    </form>
</div>

{% endblock %}