{% extends "base.html" %}

{% block content %}

  <div class="container">
      <h1>Please login</h1>
      <br>
      <form action="" method="post" name ="login">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
           </div>
                <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
            </form>
        
{% endblock %}
        
