<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset = "utf-8">
  <meta name="description" content="BucketList WebApp">
  <!--Defines description of the webpage-->
  <meta name="author" content="Florence Mnyazi">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name = "viewport" content="width=device-width, initial-scale=1">
  <!--This element ensures proper rendering and zooming-->
  <!-- The width=device-width sets the width of the page to follow screen width-->
  <!--The initial-scale =1 element sets the initial zoom level when the page is first loaded by the browser-->
  <title> BucketList </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}"/>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet"/>
</head>
<body>
<h2> What do you want to do before you expire? Get started here by creating a bucketlist!</h2>
<form action="/mybucketlist" method="post" name="mybucketlist">
<fieldset>
<div class ="jumbotron">
<legend>My BucketLists:</legend>
Create Bucketlist:<br>
<input type="text" name="BucketListName" placeholder="BucketList Name" value=""><br>
 <button type="submit" class=" btn btn-primary">Create </button>

</fieldset>
</form>
<div class="container footer">
        <div class="row marketing">
            <div class="col-lg-6">
                <p> Bucketlist, 2017</p>

        </div>
        <div class="col-lg-6">
                <div class="pull-right">
              <p><strong>Email:</strong>florencemnyazi@gmail.com</p>
                     </div>
        </div>
        
        </body>
        </html>
