<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset = "utf-8">
  <meta name="description" content="BucketList WebApp">
  <!--Defines description of the webpage-->
  <meta name="author" content="Florence Mnyazi">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name = "viewport" content="width=device-width, initial-scale=1">
  <!--This element ensures proper rendering and zooming-->
  <!-- The width=device-width sets the width of the page to follow screen width-->
  <!--The initial-scale =1 element sets the initial zoom level when the page is first loaded by the browser-->
  <title> BucketList </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}"/>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet"/>
</head>
<body>
  <h2> My Ultimate Bucketlist!</h2>
  <form action='/view' method = "post" form name = "view">
  <fieldset>
    <div class="jumbotron">
      <legend>BucketLists:</legend>
      <ul>{% for bucket in bucketlists %}
        <li> {{bucketlists[bucket].name}}</li>
          {%endfor%}
             </ul>

       <!-- <legend>BucketList 1: </legend>
        <ul>{% for bucketlist in bucketlists %}
          <li></li>
            <li>{}</li>
            <li>{}</li>
            <li>{}</li>
            {%endfor%}
               </ul> -->

        </fieldset>
        <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
        <a href="index.html" <button type="submit" class=" btn btn-primary">LogOut! </button></a>
        </div>
        </div>
        <div class="container footer">
                <div class="row marketing">
                    <div class="col-lg-6">
                        <p> Bucketlist, 2017</p>

                </div>

                <div class="col-lg-6">
                  <div class = "pull-right">
                  <p><strong>Email:</strong>florencemnyazi@gmail.com</p>
                             </div>
                </div>

            </div>

</div>
</body>
</html>